<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ptut.ptmovie">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:name=".PTMovieApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_pt_movie"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_pt_movie_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTMovie.NoActionBar">
        <activity
            android:name=".feature.MainActivity"
            android:exported="true">

        </activity>
        <activity android:name=".feature.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.moviedetail.MovieDetailActivity"
            android:exported="true"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data  android:name="com.ptut.ptmovie.initializer.StartupInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>